In [7]:
# Import pandas
import pandas as pd

In [8]:
# create df

my_df = {
    "name": ["One", "Sarm", "Sin", "John", "Mary"],
    "age" : [12, 17, 19, 22, 8],
    "sex" : ["M", "M", "F", "M", "F"]
}
df= pd.DataFrame(my_df)

In [9]:
# create columns
df["City"] = ["BKK", "CNX", "LOE", "UD", "UON"]

In [10]:
# drop column
df = df.drop('City', axis = 1)

In [11]:
# check shape
df.shape

(5, 3)

In [12]:
# drop row
df = df.drop(3, axis = 0)

In [13]:
df = df.reset_index(drop =True)

In [14]:
# check columns name
df.columns

Index(['name', 'age', 'sex'], dtype='object')

In [15]:
# covert to list object
list(df.columns)

['name', 'age', 'sex']

In [16]:
df.columns = ['r_name', 'age', 'sex']

In [21]:
# create a new series
s1 = pd.Series(['Mary', 20, 'F'], index =['r_name', 'age', 'sex'])

In [23]:
df.append(s1, ignore_index=True)

<ipython-input-23-92dc4481ccaf>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(s1, ignore_index=True)

,r_name,age,sex
0,One,12,M
1,Sarm,17,M
2,Sin,19,F
3,Mary,8,F
4,Mary,20,F