In [9]:
import pandas as pd

In [10]:
penguins = pd.read_csv("penguins.csv")

In [11]:
# describe
penguins.describe()
penguins.describe(include = 'all')

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
count,344.000000,344,344,342.000000,342.000000,342.000000,342.000000,333,344.000000
unique,NaN,3,3,NaN,NaN,NaN,NaN,2,NaN
top,NaN,Adelie,Biscoe,NaN,NaN,NaN,NaN,male,NaN
freq,NaN,152,168,NaN,NaN,NaN,NaN,168,NaN
mean,172.500000,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN,2008.029070
std,99.448479,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN,0.818356
min,1.000000,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN,2007.000000
25%,86.750000,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN,2007.000000
50%,172.500000,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN,2008.000000
75%,258.250000,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN,2009.000000
max,344.000000,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN,2009.000000

In [13]:
penguins['bill_length_mm'].mean()

43.9219298245614

In [14]:
penguins.groupby('species')['bill_length_mm'].mean()

In [15]:
penguins.groupby('species')['bill_length_mm'].agg(['mean', 'median', 'max'])

,mean,median,max
species,,,
Adelie,38.791391,38.80,46.0
Chinstrap,48.833824,49.55,58.0
Gentoo,47.504878,47.30,59.6

In [25]:
penguins.groupby(['species', 'island'])['bill_length_mm']\
        .agg(['mean', 'median', 'max'])\
        .reset_index()

,species,island,mean,median,max
0,Adelie,Biscoe,38.975000,38.70,45.6
1,Adelie,Dream,38.501786,38.55,44.1
2,Adelie,Torgersen,38.950980,38.90,46.0
3,Chinstrap,Dream,48.833824,49.55,58.0
4,Gentoo,Biscoe,47.504878,47.30,59.6

In [31]:
penguins['sex'].map( { 'male' : 'm', 'female' : 'f'}).fillna('other')

In [32]:
import numpy as np

In [33]:
np.mean(penguins['bill_length_mm'])

43.9219298245614

In [34]:
score = pd.Series([ 80, 30, 40, 50, 70])

In [35]:
grade = np.where(score >= 70, 'passed', 'failed')

In [36]:
df = penguins.query("species == 'Adelie' ")[['species', 'island', 'bill_length_mm']].dropna()

In [40]:
df['new column'] = np.where(df['bill_length_mm'] > 30, "long", "short")

In [42]:
penguins['bill_length_mm'].plot(kind = 'hist')